
.content{
    width: 800px;
    height: 550px;
    
    padding: 10px;
    border: 1px solid gray;
    margin-top: 5px;
    margin-left: 150px;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
    background-color: aqua;
}

.contentThem {
    width: 500px;
    height: 400px;
    margin-left: 140px;
}

.sw{
    width: 60%;
}
